[user]
	name = Pavel Galkin
	email = paulriddle@openmailbox.org
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  co = checkout
  st = status
  cv = commit --verbose
  b = branch
