[user]
  name = Pavel Galkin
  email = fixnum42@gmail.com
[push]
  default = simple
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[alias]
  b = branch
  c = commit --verbose
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status --short
